#espacios {
    border: 1px solid #E2E2E2;
  border-radius: 1.25rem;
  background: rgb(255, 202, 144);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
}
#im {
    display: flex;
    right: 10%;
    align-items: center;
    justify-content: center;
}
.textos { 
    border: 1px solid #E2E2E2;
  border-radius: 1.25rem;
  background: rgb(255, 202, 144);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7px;
  flex-wrap: wrap;
  padding: 7px;
}
a {
  text-decoration: none;
  /* Quita el subrayado */
  color: inherit;
  /* Mantiene el color original del texto */
}