body {
    /* Establece la imagen de fondo */
    background-image: url('../Img/nick-karvounis-Ciqxn7FE4vE-unsplash.jpg');
    /* Ajusta cómo se muestra la imagen */
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    /* Añade un color de fondo de respaldo */
    background-color: #f2f2f2; /* Por si la imagen no carga o no cubre toda la pantalla */
  }
  .container {
    display: flex;
    flex-direction: column;
    min-height: 85vh; 
}

footer{
    background-color: #000000;
}

.content {
    flex-grow: 1; 
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.texto2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

div .col > a:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

div .col > a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

div .col > a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #cfcfcf;
  text-decoration: none;
}

div .col > a:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

a{
    border:none !important;
    outline:none !important;
}

.textoA{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    
}

.linea{
    border-left: 2px solid #ffffff;
    height: 250px;
    margin: 0 auto;
    width: 2px;
}

.cancelar{
    text-decoration: none;
    font-size: 17px;
}

.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 55%;
}

@media only screen and (max-width: 900px){
    .banner{
        width: 100%;
    }
}

